.section-comment-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8rem;
    margin-top: 2rem;
    justify-content: center;
    width: 100%;
    padding: 0 2em;
    flex-wrap: wrap;
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.comment  {
    display: flex;
    flex-direction: column;
    max-width: 30em;
    gap: 1.5rem;
}

.comment-username {
    font-size: 1.1em;
    font-weight: 600;
    color: #000;

}


.comment-content {
	position: relative;
	max-width: 30em;
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
	border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}

.comment-content::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em; 
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.let-comment-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.let-comment {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 30em;
}

.let-comment-title {
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.form-name {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-comment {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    display: none;
}

.let-comment-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.let-comment-wrapper form input,textarea{
    padding: 1em 1.5em;
    border-radius: 1rem;
    border: 1px solid #000;
    font-size: 1.25em;
}

.let-comment-wrapper form button {
    padding: 1em 1.5em;
    border-radius: 1rem;
    font-size: 1.25em;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.let-comment-wrapper form button:hover {
    background-color: #fff;
    color: #000;
    border: #000 1px solid;
}




